APP_NAME=messenger-auth
ENVIRONMENT=development

DB_CONTAINER_NAME=messenger-postgres
DB_DATABASE=messenger
DB_DRIVER=postgresql+psycopg
DB_USERNAME=messenger
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=55432

PGADMIN_CONTAINER_NAME=messenger-pgadmin
PGADMIN_EMAIL=admin@local.test
PGADMIN_PASSWORD=change-me
PGADMIN_PORT=5050
PGADMIN_VOLUME_DATA_NAME=messenger_pgadmin_data
